*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root{
  background: rgb(255,255,255);
  background: linear-gradient( rgba(255,255,255,1) 0%, rgba(220,253,255,1) 90%, rgba(51,241,255,1) 100%);
  height: 100%;
}